*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.carousel{
	width: 310px;
	position: relative;
	overflow: hidden;
}
.ct>li{
	float: left;
}
.ct:after{
	content: '';
	display: block;
	clear: both;
}
.arrow>li{
	text-align: center;
	position: absolute;
	top: 50%;
	background-color: #ccc;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.arrow>li>a{
	color: #fff;
}
.arrow>.pre{
	left: 0;
}
.arrow>.next{
	right: 0;
}
.mark{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.mark>li{
	float: left;
	padding-left: 5px;
}
.mark:after{
	content: '';
	display: block;
	clear: both;
}
.mark>li>a{
	color: #fff;
	display: block;
	font-size: 50px;
}
.mark>li>a.clicked{
	color: #888;
}